.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    width: 100%;
    justify-content: space-between;
}

.navbar>.container{
    display: unset;
}

#nav{
    height: 100px;
    background-color: #1C1A19;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.btn:focus {
    outline: 0;
    box-shadow: unset;
}

.home{
    padding-top: 100px;
    height: 100vh;
    background-image: url('../images/home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.home .home-container{
    height: 100%;
    display: flex;
    align-items: center;
}

.home .home-image{
    height: 450px;
    object-fit: cover;
    width: 100%;
    object-position: top;
}

.home .nav-link{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
}

.home .home-container .bg-card{
    background-color: #f9f4ec;
}

.home .home-container .title{
    font-family: 'Courgette';
    font-size: 45px;
    font-weight: 700;
    color: #1C1A19;
    line-height: 115%;
}

.home .home-container .text{
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 400;
    color: #1C1A19;
}

.home .home-container .title .color{
    color: #CC9544;
}

.home ul.navbar-nav{
    display: flex;
    align-items: baseline;
}

.home .dropdown .dropdown-item{
    color: #1C1A19;
}

.black-btn{
    background-color: #1C1A19;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    border: 1px solid #1C1A19;
}

.black-btn:hover{
    background-color: transparent;
    color: #1C1A19;
}

.caramel-btn{
    background-color: #CC9544;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    border: 1px solid #CC9544;
}

.caramel-btn:hover{
    background-color: transparent;
    color: #CC9544;
}

.white-btn{
    background-color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    color: #CC9544;
    border: 1px solid #FFFFFF;
}

.white-btn:hover{
    background-color: transparent;
    color: #FFFFFF;
}

.sobre-nos .text{
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
    color: #1C1A19;
    line-height: 145%;
}

.sobre-nos .text .color{
    color: #CC9544;
}

.cta{
    background: #CC9544;
}

.cta .title{
    font-family: 'Courgette';
    font-size: 65px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}

.cta .text{
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 400;
    color: #FFFFFF;
}

.menu .title{
    font-family: 'Courgette';
    font-size: 60px;
    font-weight: 700;
    color: #1C1A19;
}

.menu .text{
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
    color: #1C1A19;
    line-height: 145%;
}

.menu .card-title{
    font-family: 'Courgette';
    font-size: 30px;
    font-weight: 500;
    color: #1C1A19;
    line-height: 145%;
    text-align: center;
}

.contactos{
    background-image: url('../images/contactos-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.contactos .darker-bg{
    background-color: #1c1a1996;
}

.contactos .title{
    font-family: 'Courgette';
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
}

.contactos .text{
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 145%;
}

.contactos .card-title{
    font-family: 'Courgette';
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
}

.contactos .card-subtitle{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 145%;
    text-align: center;
}

.contactos .card-text{
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 145%;
    text-align: center;
}
